/*
Them Name: FDiegoPeres-Theme
Text Domain: FDiegoPeres-Theme
Version: 1.0
Description: This is a fancy left sidebar theme.
Tags: left-sidebar, responsive, fancy
Author: FDiegoPeres
Author URI: https://github.com/fdiegoperes/
*/